*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    background-color: #242240;
}

li,a{
    font-family: Verdana;
    font-weight:600;
    font-size:20px;
    color:#dedded;
    text-decoration:none;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:30px 10% 30px 10%;
}

.nav_site{
    list-style:none;
}

.nav_site li{
    display:inline-block;
    padding:0px 20px 0px 20px;
}

.nav_site li a:hover{
    color: #0088a9;
}
/*body {
    position: relative;
    max-width: 65%;
    left: 17.5%;
    background-color: #242240;
    height: 5000px;
}

.home {
    height: 50px;
    width: 100px;
    position: fixed;
    right: 300px;
    top: 0px;
    background-color: #5a54a8;
}

.bio {
    height: 50px;
    width: 100px;
    position: fixed;
    right: 200px;
    top: 0px;
    background-color: #5a54a8;
}

.portfolio {
    height: 50px;
    width: 100px;
    position: fixed;
    right: 100px;
    top: 0px;
    background-color: #5a54a8;
}

.contacto {
    height: 50px;
    width: 100px;
    position: fixed;
    right: 0px;
    top: 0px;
    background-color: #5a54a8;
}*/

