.container_contacto {
    height: 100%;
    background-image: url("../jpg/bgcontactos.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.conteudo_contacto {
    min-height: 95vh;
    display: flex;
    flex-direction: column;
}

.contacto_mensagem {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10%;
    color: #dedded;
    margin-left: 15%;
    margin-right: 15%;
}

.contactos {
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: flex-start;
    background-color: #242240;
    width: 300px;
    height: 450px;
    justify-content: center;
    border-radius: 7px;
    padding-left: 25px;
}

.contactos h3, p {
    padding-bottom: 25px;
}

.contactos h3 {
    color: #ff910aff;
}

#titulo_contacto {
    margin-top: 150px;
    margin-bottom: 150px;
    color: #000;
    font-size: 60px;
    font-weight: bolder;
    padding-right: 50px;
}

.formolario_mensagem {
    background-color: #242240;
    height: 450px;
    flex-basis: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 7px;
}

.formolario_mensagem h3 {
    margin-bottom: 40px;
    color: #ff910aff;
    font-size: 32px;
    padding-top: 15px;
}

.formolario {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #dedded;
    color: #000;
    font-size: 18px;
    margin-bottom: 7px;
}

#formolario_contacto {
    display: flex;
    flex-direction: column;
    width: 80%;
}

input {
    height: 45px;
}

.botao_formolario {
    width: 100%;
    background: #ff910aff;
    border-color: transparent;
    color: #242240;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.botao_formolario:hover {
    background: #ce7303;
}

textarea{
    resize:none;
}